@media (max-width:1200px){
    .producto{
        flex-direction: column;
    }
    .producto-imagen img{
        max-width: 100%;
    }
}
@media (max-width:768px){
    main{
        width: 90%;
    }
    header, footer{
        flex-direction: column;
    }
    .header-nav {
        margin-right: 0;
    }
    .div-logo {
        margin-left: 0rem;
    }
    .logo img {
        padding: 2rem 0 0 0;
    }

}