@media  screen and (-webkit-min-device-pixel-ratio:0) and (max-width:900px){
 .producto .producto-imagen,.producto .producto-contenido{
        width: 100%;
    }
}
@media  screen and (-webkit-min-device-pixel-ratio:0) and (max-width:768px){
    main{
        width: 90%;
    }
    header, footer{
        flex-direction: column;
    }
    .header-nav {
        margin-right: 0;
    }
    .div-logo {
        margin-left: 0rem;
    }
    .logo img {
        padding: 2rem 0 0 0;
    }

}